[mysqld]
innodb_doublewrite = 0
key_buffer_size = 16M
max_allowed_packet = 16M
max_connections = 301
query_cache_limit = 32M
query_cache_size = 128M
skip-external-locking
table_open_cache = 3000
thread_cache_size = 16
query_cache_type = 1
thread_stack = 16M
innodb_data_file_path = ibdata1:10M:autoextend